:root {
  --website-theme: rgb(0, 7, 68);
  --schoolboard-color: rgb(0, 102, 0);
  --available-lesson: rgb(5, 5, 177);
  --complete-lesson: rgb(255, 115, 0);
  --not-available: grey;
  --path-lessons: rgb(36, 42, 124);
  --path-unavailable: rgb(112, 114, 141);
  --table-color: rgb(255, 255, 255);
  --red-letters: rgb(255, 74, 74);
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--website-theme);
}