:root {
  --website-theme: rgb(0, 7, 68);
  --schoolboard-color: rgb(0, 102, 0);
  --available-lesson: rgb(5, 5, 177);
  --complete-lesson: rgb(255, 115, 0);
  --not-available: grey;
  --path-lessons: rgb(36, 42, 124);
  --path-unavailable: rgb(112, 114, 141);
  --table-color: rgb(255, 255, 255);
  --red-letters: rgb(255, 74, 74);
  --flash-quiz-color: rgb(29, 32, 75);
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--website-theme);
  color: white;
}

h1:not(.intro-header, #index-h1, #map-h1) {
  text-align: center;
  margin: 2rem auto;
  font-size: 3.6rem;
}

h2:not(.intro-header, #index-h2, .milestone h2) {
  margin: 2rem 1rem 2rem 1rem;
  font-size: 3.3rem;
  text-align: center;
}

h2.quiz-header.intro-header {
  margin: 0;
  font-size: 3.3rem;
}

.margin-top-5#margin-top-5 {
  margin-top: 6rem;
}

section:not(#index-section, #map-section) {
  max-width: 850px;
  margin: -1.8rem auto 1rem;
  padding: 2rem;
}

p {
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
}

.quiz {
  margin: 8rem auto 8rem;/*it was 8rem*/
  border: 1px solid rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 0.4rem;
}

.quiz-header {
  margin: 0;
  text-align: left;
}


.quiz-textbar {
  height: 50px;
}

.question label {
  font-style: italic;
}

.answer-box {
  display: flex;
  flex-direction: column;
}

.check-box {
  display: flex;
}

.correct-incorrect-box {
  display: none;
}

.submit {
  max-width: fit-content;
  border-radius: 0.4rem;
  margin: 1rem 0;
  cursor: pointer;
}

.submit:active {
  background-color: rgb(228, 228, 228);
}

.correct {
  margin: 0 1rem;
  display: none;
  align-items: center;
}

.correct-shown {
  display: flex;
}

.incorrect {
  margin: 0 0 0 0.5rem;
  display: none;
  align-items: center;
  font-size: 2rem;
  color: #F44336;
  font-weight: bold;
}

.incorrect-shown {
  display: flex;
}

.divider {
  border-bottom: 2px dashed white;
  margin-top: 5rem;
}


label {
  display: block;
  font-size: 3rem;
  margin: 3rem 0;
}

input {
  padding: 1rem;
  width: 70%;
  border: none;
  font-size: 2rem;
  border-radius: 5px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.quiz-textbar:focus {
  outline: none;
}

.quiz-textbar:focus {
  box-shadow: 0 0 0 3px rgb(0, 89, 255);
}

button {
  display: block;
  padding: 1.2rem 2.6rem;
  margin: 3rem 0;
  border-radius: 5px;
  border: none;
  font-size: 1.9rem;
  cursor: pointer;
  color: var(--website-theme);
  font-weight: 700;
  font-family: 'Roboto Mono', sans-serif;
}

button:hover {
  background-color: rgb(193, 210, 255);
}

button:active {
  background-color: rgb(167, 184, 231);
}

.new-words {
  margin: 4rem 2rem;
  background-color: rgb(197, 197, 197);
  color: black;
  width: fit-content;
  padding: 2.5rem 5rem 2.5rem 2.5rem;
  border-radius: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.error-message {
  text-align: center;
  margin: 3rem auto 0 auto;
  margin-bottom: 0;
  color: red;
  font-size: 2.4rem;
  font-weight: bolder;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  border-radius: 1rem;
  padding: 0.4rem 1rem;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
}

.error-shown {
  display: flex;
}

.popup-congrats {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  overflow-y: auto;
}

.popup-congrats-isclicked {
  display: flex;
}

.popup-box {
  height: fit-content;
  background-color: var(--website-theme);
  overflow-y: auto;
  text-align: center;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-radius: 1rem;
}

.congrats-text {
  margin: 2rem 1rem;
}

.nailed-it-text {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.popup-box a {
  text-decoration: none;
  color: var(--website-theme);
}

.highlighted {
  color: var(--red-letters);
}

/*table*/

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  margin: 3rem auto 2.4rem;
}


thead th {
  border: 3px solid #000000;
  padding: 1rem;
  font-size: 2.4rem;
}

th:not(thead th), td {
  border: 3px solid #000000;
  height: 24rem;
}

.fourth-column {
  writing-mode: vertical-rl;
  text-orientation: upright;
  background-color: var(--schoolboard-color);
  text-align: center;
  font-size: 2.4rem;
}

.ordinary-cell {
  background-color: var(--table-color);
  padding: 1rem;
  vertical-align: text-top;
  text-align: left;
}

.ordinary-cell p {
  font-size: 2rem;
  color: black;
  margin-bottom: 2rem;
  line-height: 2rem;
}

th {
  background-color: var(--schoolboard-color);
  color: white;
}

/*sum up*/

.sum-up {
  border: 3px solid rgb(255, 255, 255);
  padding: 1rem;
}

.sum-up p {
  font-style: italic;
}

h3:not(#index-h3) {
  font-size: 2.8rem;
  font-style: italic;
  text-decoration: underline;
}


/*full table*/

.full-table.big-table#full-table {
  max-width: 1550px;
  text-align: center;
  margin-bottom: -3.9rem;
}

.finish-lesson-button-2 {
  margin: 0 auto;
}

.margin-fixed-5 {
  margin-top: -5rem;
}

.margin-top-5 {
  margin-top: 3rem;
}

/*video and speaking task*/

.video {
  display: flex;
  justify-content: center;
  margin: 5rem auto;
}

.centered {
  text-align: center;
  font-size: 2.7rem;
}

.dialogue-window {
  margin: 4rem;
}

.dialogue-window p:not(.aside) {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

ol {
  margin: 0 0 6rem 2.7rem;
}

li {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.aside {
  line-height: 2.5rem;
  margin: 0 0 0 1rem;
  margin-bottom: 2.4rem;
}

.self-recording {
  margin: 2rem 0 5rem;
  max-width: 80%;
  display: none;
}

.displayed {
  display: inline;
}

.recording-box {
  text-align: center;
}

.recording-box p {
  color: rgb(213, 168, 255);
}

.recorder-buttons {
  display: flex;
  gap: 1rem;
}

.start-recording, .stop-recording, .delete-recording {
  margin: 0;
  border-radius: 50rem;
  color: rgba(255, 255, 255, 0.795);
}

.start-recording {
  background-color: rgb(116, 0, 224);
  width: 50%;
  margin: 0 auto;
}

.start-recording:hover {
  background-color: rgb(132, 0, 255);
}

.stopped {
  background-color: rgb(182, 0, 0);
  transition: background-color 0.1s;
}

.stopped:hover {
  background-color: rgb(206, 0, 0);
}

.delete-recording {
  background-color: rgb(71, 71, 71);
}

.delete-recording:hover {
  background-color: rgb(85, 85, 85);
}

.delete-recording:active {
  background-color: rgb(105, 105, 105);
}

.timer {
  margin: 0 auto;
  width: fit-content;
  font-size: 7rem;
  margin-bottom: 1.5rem;
}


/*schoolboard*/

.schoolboard {
  border: 4px solid rgb(114, 53, 13);
  border-radius: 0.5rem;
  max-width: 60rem;
  background-color: var(--schoolboard-color);
  margin: 5rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.explanation {
  font-size: 2.3rem;
  margin: 0 0 0 0;
}

.example {
  margin: 0 0 0 2rem;
}

.for-example {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0;
}

.schoolboard p:last-child {
  margin-top: 0;
}

/**/

.example-no-board {
  margin: 3rem 0 3rem 3rem;
  font-size: 2.8rem;
  background-color: rgb(219, 219, 219);
  color: black;
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  line-height: 4rem;
}

/*fill in quiz*/

.quiz-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.drop-down {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border-radius: 5px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  margin-right: 1.3rem;
}

.fill-in-blanks-label {
  margin: 1rem 0;
  line-height: 5rem;
}

.submit-fill-in {
  max-width: fit-content;
  border-radius: 0.4rem;
  margin: 1rem 0;
  cursor: pointer;
}

.submit-fill-in {
  background-color: rgb(228, 228, 228);
}

.download-table-button {
  font-size: 1.7rem;
  border: 1px solid white;
  width: fit-content;
  margin: 2.5rem auto;
  padding: 1rem 2rem;
  border-radius: 5rem;
  background-color: rgb(132, 0, 255);
  cursor: pointer;
  transition: all 0.15s;
  display: none;
}

.download-table-button:hover {
  background-color: rgb(120, 0, 233);
}

#download-table-button-expanded {
  margin: 4rem auto;
}

#download-table-button-margin-down-cut {
  margin-bottom: 1rem;
}

#download-table-button-shortened {
  margin: 1rem auto;
}

#download-table-button-margin-top {
  margin-top: 3rem;
}

.buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flashcard-quiz {
  padding-left: 1rem;
  padding-right: 1rem;
}

hr {
  border: none;
  border-bottom: 1px dashed white;
}

#after-recording-button {
  margin-top: 6rem;
}

.fill-in-blanks-label-2 {
  display: inline;
  margin-right: 1.3rem;
}

.exercise-text {
  font-size: 3rem;
  margin: 1rem 0;
  line-height: 3.7rem;
}

.inline-textbar {
  width: 10rem;
  min-width: 10rem;
  margin: 1rem 1rem 0.8rem 1rem;
}

#margined-button {
  margin-top: 2.9rem;
}

#margined-top {
  margin-top: -2rem;
}

.bigger {
  font-size: 2.4rem;
}

.bold {
  font-weight: 600;
}

@media only screen and (max-width: 720px) {
  .example-no-board {
    margin: 3rem 0 3rem 1.5rem;
    font-size: 2rem;
    padding: 0.8rem 1.6rem;
    border-radius: 0.8rem;
    line-height: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  input {
    padding: 0.5rem;
    width: 90%;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 530px) {
  .example-no-board {
    margin: 3rem 0 3rem 0rem;
  }
}

@media only screen and (max-width: 425px) {
  p {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }

  .bigger {
    font-size: 1.8rem;
  }

  .exercise-text {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .inline-textbar {
    width: 8rem;
    min-width: 8rem;
    margin: 0.4rem 0.7rem 0.4rem 0.7rem;
    padding: 0.4rem 0.6rem;
  }

  h1:not(.intro-header, #index-h1, #map-h1) {
    font-size: 2.5rem;
    margin: 1rem auto;
  }

  h2:not(.intro-header, #index-h2, .milestone h2) {
    margin: 1rem 1rem 2rem 1rem;
    font-size: 2.5rem;
    text-align: center;
  }

  h2.quiz-header.intro-header {
    margin: 0;
    font-size: 2rem;
  }
  

  .intro-header {
    margin: 1rem 1rem 2rem 1rem;
    font-size: 2.5rem;
  }

  ul li {
    font-size: 1.8rem;
  }

  label {
    font-size: 1.8rem;
    margin: 1.5rem 0;
  }

  input {
    padding: 0.7rem;
    width: 100%;
    font-size: 1.4rem;
  }
  
  button {
    display: block;
    padding: 0.6rem 1.3rem;
    margin: 1.5rem 0;
    border-radius: 5px;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--website-theme);
    font-weight: 700;
    font-family: 'Roboto Mono', sans-serif;
  }

  .new-words {
    margin: 2.5rem 1rem;
    background-color: rgb(197, 197, 197);
    color: black;
    width: fit-content;
    padding: 1.5rem 4rem 1.5rem 1.5rem;
    border-radius: 1.5rem;
    font-size: 1.6rem;
    font-weight: bold;
  }

  .quiz-textbar {
    height: 3.5rem;
  }

  .divider {
    border-bottom: 1.8px dashed white;
    margin-top: 2rem;
  }

  .quiz {
    margin: 4rem auto 4rem;
    border: 0.5px solid rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 0.4rem;
  }

  table:not(.number-table) {
    display: none;
  }

  table.number-table td#letters-cell p {
    font-size: 1.8rem;
  }

  table.number-table td#num-cell p {
    font-size: 1.8rem;
  }

  .download-table-button {
    display: block;
  }

  .for-example {
    font-size: 1.9rem;
  }

  .example {
    font-size: 1.5rem;
  }

  section#section-one.sec-one-2{
    margin-bottom: 0rem;
    padding-bottom: 0.2rem;
  }

  #after-quiz-button {
    margin-top: -2.7rem;
  }

  p.centered {
    font-size: 1.9rem;
    margin: 1rem auto;
  }

  ol li {
    font-size: 1.6rem;
  }

  ol {
    margin-bottom: 3rem;
  }

  .dialogue-window {
    margin: 2.5rem 0rem 2rem 0rem;
  }

  #record-tip {
    font-size: 1.5rem;
  }

  .timer {
    font-size: 3rem;
    margin: 1.4rem auto 1.6rem;
  }

  .header-p {
    font-size: 2rem;
    text-align: center;
    margin: 4rem auto 5rem;
    line-height: 3rem;
  }

  .buttons-container .option {
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
  }

  #after-flashqiz-button {
    margin-top: 1.4rem;
  }

  .example-no-board {
    margin: 2.5rem 0 2.5rem 0;
    font-size: 1.6rem;
    padding: 0.5rem 1.2rem;
    border-radius: 0.8rem;
    line-height: 3rem;
  }

  .drop-down {
    padding: 0.3rem 0.5rem;
    font-size: 1.4rem;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    margin-right: 1.3rem;
  }

  .fill-in-blanks-label {
    margin: 0rem 0;
    line-height: 3rem;
  }
  
  .p-sub-header {
    font-size: 2rem;
    margin: 1rem 0;
  }

  .margin-pusher {
    margin-top: 4rem;
  }

  #after-recording-button {
    margin-top: 4rem;
  }

  .schoolboard {
    border: 4px solid rgb(114, 53, 13);
    border-radius: 0.5rem;
    max-width: 60rem;
    background-color: var(--schoolboard-color);
    margin: 3.5rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .video {
    margin: 3.5rem auto;
  }

  p.adj {
    font-size: 1.8rem;
  }
}