body {
  color: white;
}

h1 {
  text-align: center;
  margin: 2rem auto;
  font-size: 3.6rem;
}

section {
  max-width: 850px;
  margin: 1rem auto;
  padding: 2rem;
}

p {
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
}

audio {
  margin: 4rem 0;
  width: 100%;
}

h2 {
  margin: 2rem 1rem 2rem 3rem;
  font-size: 3.3rem;
}

ul {
  margin: 3rem 1rem 2rem 6rem;
  font-size: 2.7rem;
  line-height: 4.3rem;
}

.caption-to-header {
  margin: -1rem 0 0 3.2rem;
}

.survey {
  margin: 3rem 1rem 2rem 4.5rem;
}

label {
  display: block;
  font-size: 3rem;
  margin: 3rem 0;
}

input {
  padding: 1rem;
  width: 70%;
  border: none;
  font-size: 2rem;
  border-radius: 5px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input:focus {
  outline: none;
}

button {
  display: block;
  padding: 1.2rem 2.6rem;
  margin: 3rem 0;
  border-radius: 5px;
  border: none;
  font-size: 1.9rem;
  cursor: pointer;
  color: var(--website-theme);
  font-weight: 700;
  font-family: 'Roboto Mono', sans-serif;
}

button:hover {
  background-color: rgb(193, 210, 255);
}

button:active {
  background-color: rgb(167, 184, 231);
}

.pop-up-message {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.popup-clicked {
  display: flex;
  z-index: 100;
}

.message-box {
  position: absolute;
  height: fit-content;
  top: 10%;
  left: 20%;
  right: 20%;
  bottom: 0%;
  background-color: var(--website-theme);
  overflow-y: auto;
  text-align: center;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-header {
  margin-top: 3rem;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.3rem;
}

.popup-text {
  font-size: 2rem;
  text-align: center;
  line-height: 3.5rem;
}

.swear-button {
  font-size: 1.6rem;
  margin: 1rem auto;
}

.lesson-header {
  text-align: center;
  margin: 0 0 1rem 0;
}

@media only screen and (max-width: 950px) {
  .message-box {
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 0%;
  }
}

@media only screen and (max-width: 500px) {
  .message-box {
    top: 10%;
    left: 5%;
    right: 5%;
    bottom: 5%;
  }

}

@media only screen and (max-width: 425px) {
  .message-box {
    top: 3%;
    left: 5%;
    right: 5%;
    bottom: 5%;
  }

}

@media only screen and (max-width: 760px) {
  
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: 3rem;
    margin: 2rem auto;
  }

  section {
    padding: 0rem 1rem;
  }

  h2 {
    margin: 2rem 1rem 1.6rem 1.6rem;
    font-size: 2.5rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  audio {
    margin: 2.7rem 0 1rem 0;
    width: 100%;
  }

  ul {
    margin: 1rem 1rem 2rem 4.2rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
  
  .caption-to-header {
    margin: -1rem 0 0 2.2rem;
  }
  
  .survey {
    margin: 2rem 1rem 2rem 2rem;
  }

  label {
    display: block;
    font-size: 2.4rem;
    margin: 2.3rem 0;
  }

  input {
    padding: 0.8rem;
    width: 90%;
    font-size: 1.6rem;
    border-radius: 5px;
  }

  button {
    padding: 1rem 2.8rem;
    margin: 2rem 0;
    font-size: 1.4rem;
  }
}