.audio-recording {
  margin: 3rem 0;
  display: block;
}

#num-cell p {
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
}

#letters-cell p {
  font-size: 3rem;
  font-weight: 500;
}


#num-cell {
  height: fit-content;
  padding-bottom: 0;
}

#letters-cell {
  height: fit-content;
  padding-bottom: 0;
}

h2#header-margined.header-margined {
  margin-top: 3.5rem;
}

@media only screen and (max-width: 425px) {
  .audio-recording {
    height: 4.4rem;
  }
}

@media only screen and (max-width: 350px) {
  .audio-recording {
    width: 25rem;
    height: 4rem;
  }
}