h2 {
  margin: 2rem 1rem 2rem 1rem;
  font-size: 3.3rem;
  text-align: center;
}

.margin-down {
  margin-bottom: -3rem;
}

#section-two, #section-five, #section-six, #section-seven {
  margin-top: -5rem;
}

.finish-lesson-button-2 {
  margin: 0 auto;
}

.section-seven {
  padding-bottom: 0;
}