p.new-words {
  margin-top: 5rem;
}

.adj-quiz-box {
  display: flex;
  gap: 2rem;
}

.adj {
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.adj-quiz-option {
  width: 1fr;
}

.adj-quiz-option:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(0, 89, 255);
}

.correct-adj {
  background-color: rgb(140, 255, 140);
}

.incorrect-adj {
  background-color: rgb(255, 140, 140);
}

hr {
  margin: 3rem 0;
}

.p-sub-header {
  margin-bottom: -3rem;
  font-size: 2.6rem;
}

.exampleAdj {
  margin: 2rem;
  display: block;
  color: rgb(233, 233, 233);
}

.crossed-out {
  text-decoration: line-through;
  text-decoration-color: red;
  font-family: "Gaegu", sans-serif;
  font-size: 4rem;
  margin-left: 0.5rem;
}

#section-four .example {
  font-size: 2.4rem;
}

.finish-lesson-button-2 {
  margin: 0 auto;
}

#section-two, #section-four, #section-five {
  margin-top: -5rem;
}