h2 {
  margin: 2rem 1rem 2rem 1rem;
  font-size: 3.3rem;
  text-align: center;
}


.schoolboard {
  border: 4px solid rgb(114, 53, 13);
  border-radius: 0.5rem;
  max-width: 60rem;
  background-color: var(--schoolboard-color);
  margin: 5rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.explanation {
  font-size: 2.3rem;
  margin: 0 0 0 0;
}

.example {
  margin: 0rem 0 0 2rem;
  display: block;
}

.for-example {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.schoolboard p:last-child {
  margin-top: 0;
}

hr {
  margin: 2rem 0;
}

#margin-top-5 {
  margin-top: 5rem;
}

#section-two {
  margin-top: -5rem;
}

#section-four {
  min-width: 100%;
  margin: 0;
}

.find-objects-quiz {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin: 5rem auto;
  align-items: center;
}

.image-holder {
  width: 65rem;
  height: 100%;
  border-radius: 1rem;
  position: relative;
}

.widened {
  width: 100rem;
}

.apartment-img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  cursor: pointer;
}

.task-assigner {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: var(--flash-quiz-color);
  padding: 4rem 2rem;
  border-radius: 1rem;
}

.task-text {
  font-size: 3rem;
}

.smaller-task-text {
  font-size: 2rem;
}

.fullscreen-icon {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 3rem;
  cursor: pointer;
  transition: all 0.25s;
}

.fullscreen-icon:hover {
  transform: scale(1.08);
}

.exit-sull-screen {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 3.2rem;
  cursor: pointer;
  transition: all 0.25s;
}

.exit-sull-screen:hover {
  transform: scale(0.92);
}


.next-button {
  width: 10rem;
  margin: 0 auto;
  background-color: rgb(128, 24, 226);
  color: white;
  font-weight: 400;
  transition: all 0.05s;
}

.next-button:hover {
  background-color: rgb(128, 24, 226);
}

.next-button:active {
  background-color: rgb(122, 10, 226);
}

#task-words {
  font-size: 1.7rem;
  padding: 1.4rem;
  margin: 4rem auto;
  border-radius: 0.8rem;
}

.rectangle-bathroom {
  width: 11.5rem;
  height: 10.6rem;
  position: absolute;
  bottom: 26.7%;
  left: 14.5%;
  cursor: pointer;
  transition: all 0.02s;
}

.rectangle-bathroom-fullscreen {
  width: 17.5rem;
  height: 16.3rem;
}

.rectangle-clicked {
  background-color: rgba(0, 128, 0, 0.589);
}