hr {
  margin: 2rem 0;
}

#section-two {
  margin-top: -5rem;
}

#section-four {
  min-width: 100%;
  margin: 0;
}

main section#last-section-9 {
  padding-bottom: 1.9rem;
}

.find-objects-quiz {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 5rem auto;
  align-items: center;
  gap: 5%;
}

.image-holder {
  width: 65rem;
  height: 100%;
  border-radius: 1rem;
  position: relative;
}

.widened {
  width: 100rem;
}

.apartment-img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  cursor: pointer;
}

.task-assigner {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: var(--flash-quiz-color);
  padding: 4rem 2rem;
  border-radius: 1rem;
  width: 30rem;
}

.small-task-assigner {
  width: 22rem;
}

.task-text {
  font-size: 3rem;
  max-width: 26.1rem;
  line-height: 4rem;
}

.smaller-task-text {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: -1.5rem;
}

.fullscreen-icon {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 3rem;
  cursor: pointer;
  transition: all 0.25s;
}

.fullscreen-icon:hover {
  transform: scale(1.08);
}

.exit-full-screen {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 3.2rem;
  cursor: pointer;
  transition: all 0.25s;
}

.exit-full-screen:hover {
  transform: scale(0.92);
}

.next-button {
  max-width: 20rem;
  margin: 0 auto;
  background-color: rgb(128, 24, 226);
  color: white;
  font-weight: 400;
  transition: background-color 0.05s;
  white-space: nowrap;
}

.next-button-fullscreen {
  font-size: 1.6rem;
  max-width: 20rem;
  text-align: center;
  margin-top: -0.5rem;
}

.next-button:hover {
  background-color: rgb(128, 24, 226);
}

.next-button:active {
  background-color: rgb(122, 10, 226);
}

#task-words {
  font-size: 1.7rem;
  padding: 1.4rem;
  margin: 3.5rem auto;
  border-radius: 0.8rem;
}

.rectangle-office {
  width: 21.5rem;
  height: 10.6rem;
  position: absolute;
  top: 6.4%;
  left: 6%;
  cursor: pointer;
  transition: all 0.02s;
}

.rectangle-office-fullscreen {
  width: 33.1rem;
  height: 16rem;
}

.rectangle-bedroom {
  width: 26.45rem;
  height: 10.6rem;
  position: absolute;
  top: 6.4%;
  left: 39.25%;
  cursor: pointer;
  transition: all 0.02s;
}

.rectangle-bedroom-fullscreen {
  width: 40.7rem;
  height: 16.5rem;
}

.rectangle-balcony {
  width: 13rem;
  height: 10.6rem;
  position: absolute;
  top: 6.4%;
  left: 80%;
  cursor: pointer;
  transition: all 0.02s;
}

.rectangle-balcony-fullscreen {
  width: 20rem;
  height: 16.7rem;
}

.rectangle-living-room {
  width: 30.1rem;
  height: 10.6rem;
  position: absolute;
  top: 29.7%;
  left: 16.7%;
  cursor: pointer;
  transition: all 0.02s;
}

.rectangle-living-room-fullscreen {
  width: 46.2rem;
  height: 16rem;
}

.rectangle-kitchen {
  width: 21.7rem;
  height: 10.6rem;
  position: absolute;
  top: 29.7%;
  left: 63.1%;
  cursor: pointer;
  transition: all 0.02s;
}

.rectangle-kitchen-fullscreen {
  width: 33.3rem;
  height: 16.3rem;
}

.rectangle-bathroom {
  width: 11.5rem;
  height: 10.6rem;
  position: absolute;
  bottom: 26.7%;
  left: 14.5%;
  cursor: pointer;
  transition: all 0.02s;
}

.rectangle-bathroom-fullscreen {
  width: 17.5rem;
  height: 16.3rem;
}

.rectangle-hall {
  width: 36.6rem;
  height: 10.6rem;
  position: absolute;
  bottom: 26.7%;
  left: 32%;
  cursor: pointer;
  transition: all 0.02s;
}

.rectangle-hall-fullscreen {
  width: 56.2rem;
  height: 16.2rem;
}

.rectangle-basement {
  width: 29rem;
  height: 10.4rem;
  position: absolute;
  bottom: 3.9%;
  left: 29.3%;
  cursor: pointer;
  transition: all 0.02s;
}

.rectangle-basement-fullscreen {
  width: 45rem;
  height: 15.8rem;
}

.rectangle-clicked {
  background-color: rgba(0, 20, 119, 0.589);
}

.rectangle-correct {
  background-color: rgba(0, 128, 0, 0.589);
}

.correct-line {
  margin-top: 3rem;
  margin-bottom: -1rem;
  background-color: rgb(0, 128, 0);
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.incorrect-line {
  margin-top: 3rem;
  margin-bottom: -1rem;
  background-color: rgb(199, 18, 18);
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.congrats-line {
  margin-bottom: 2.3rem;
  font-size: 2.5rem;
  line-height: 4rem;
}

.last-par {
  margin-bottom: 7.8rem;
}

@media only screen and (max-width: 1330px) {
  .fullscreen-icon {
    display: none;
  }
}

@media only screen and (max-width: 1040px) {
  .task-assigner {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: var(--flash-quiz-color);
    padding: 3.5rem 1rem;
    border-radius: 1rem;
    width: 23rem;
  }

  .task-text {
    font-size: 2rem;
    max-width: 26.1rem;
    line-height: 4rem;
  }

  #task-words {
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    margin: 1.6rem auto 2.5rem;
    border-radius: 0.8rem;
  }

  .next-button {
    max-width: 15rem;
    margin: 0 auto;
    background-color: rgb(128, 24, 226);
    color: white;
    font-weight: 400;
    transition: background-color 0.05s;
    white-space: nowrap;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 980px) {
  .find-objects-quiz {
    gap: 3%;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .apartment-img {
    width: 65rem;;
    margin-bottom: 4rem;
  }

  .rectangle-living-room {
    width: 30.1rem;
    height: 10.6rem;
    top: 27.5%;
    left: 16.7%;
  }
  
  .rectangle-kitchen {
    width: 21.7rem;
    height: 10.6rem;
    top: 27.5%;
    left: 63.1%;
  }

  .rectangle-bathroom {
    width: 11.5rem;
    height: 10.6rem;
    bottom: 32.1%;
    left: 14.5%;
  }
  
  .rectangle-hall {
    width: 36.6rem;
    height: 10.6rem;
    bottom: 32.1%;
    left: 32%;
  }
  
  .rectangle-basement {
    width: 29rem;
    height: 10.4rem;
    bottom: 10.8%;
    left: 29.3%;
  }
}

@media only screen and (max-width: 690px) { 
  #section-four {
    min-width: 100%;
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .margin-top-5#margin-top-5 {
    margin-top: 4.5rem;
  }

  main section#last-section-9 {
    padding-bottom: 0.1rem;
  }
}