h2 {
  margin: 2rem 1rem 2rem 1rem;
  font-size: 3.3rem;
  text-align: center;
}

.preposition-square {
  width: 40%;
  height: 0;
  border: 1px solid white;
  margin: 10rem auto;
  padding-top: 35%;
  position: relative;
  display: flex;
  justify-content: center;
}

.preposition {
  position: absolute;
  font-size: 2.5rem;
}

.in {
  top: 47%;
}
.under {
  top: 105%;
}

.on {
  top: -15%;
}

.over {
  top: -30%;
}

.preposition-box {
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-left {
  width: 10rem;
  height: 1rem;
  position: relative;
  background-color: white;
  display: inline-block;
  margin: 0 2rem 2rem;
}

.arrow-left::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -35%;
  transform: translateY(-50%);
  background-color: white;
  height: 1rem;
  width: 1rem;
  border-top: 1.5rem solid var(--website-theme);
  border-bottom: 1.5rem solid var(--website-theme);
  border-left: 1.5rem solid var(--website-theme);
  border-right: 2rem solid rgb(255, 255, 255);
  margin: 0 0 0 2rem;
}

.fliped {
  transform: rotate(180deg);
}

.from-box, .to-box {
  width: fit-content;
}

.from-box {
  margin-bottom: -1rem;
}

.prep {
  font-size: 2.5rem;
}

.between-box {
  display: flex;
  align-items: center;
  transform: translateX(1%);
}

.between {
  display: inline-block;
  margin: 0 1.5rem;
}


.other-prepositions {
  margin: 6rem auto;
}

.schoolboard {
  border: 4px solid rgb(114, 53, 13);
  border-radius: 0.5rem;
  max-width: 60rem;
  background-color: var(--schoolboard-color);
  margin: 5rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.explanation {
  font-size: 2.3rem;
  margin: 0 0 0 0;
}

.example {
  margin: 0 0 0 2rem;
}

.for-example {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0;
}

.schoolboard p:last-child {
  margin-top: 0;
}


.flashcard-quiz {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-header {
  margin-top: 3rem;
}

.sentence-header {
  font-size: 2.8rem;
  margin: 1.5rem auto -0.5rem;
}

.flashcard {
  width: 40%;
  margin: 3rem 1rem 5rem;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.option {
  font-size: 2rem;
  background-color: white;
  color: var(--website-theme);
  border-radius: 0.6rem;
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: 700;
  color: var(--flash-quiz-color);
}

.option:hover {
  background-color: rgb(195, 199, 224);
}

.turn-green {
  background-color: rgb(61, 255, 61);
  box-shadow: 0 0 5px 3px rgba(162, 255, 133, 0.2);
}

.turn-green:hover {
  background-color: rgb(61, 255, 61);
  box-shadow: 0 0 5px 3px rgba(162, 255, 133, 0.2);
}

.turn-red {
  background-color: rgb(255, 61, 61);
  box-shadow: 0 0 5px 3px rgba(255, 133, 133, 0.2);
}

.turn-red:hover {
  background-color: rgb(255, 61, 61);
  box-shadow: 0 0 5px 3px rgba(255, 133, 133, 0.2);
}

.flashcard-quiz {
  padding: 3rem 0 0 0;
  border: 1px solid rgb(74, 63, 155);
  padding-bottom: 4rem;
  margin-top: 4rem;
  border-radius: 1rem;
  background-color: var(--flash-quiz-color);
}

.bold {
  font-size: 2.5rem;
}


.quiz-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.drop-down {
  padding: 1rem;
  font-size: 2rem;
  border-radius: 5px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
}

.fill-in-blanks-label {
  margin: 1rem 0;
}

.submit-fill-in {
  max-width: fit-content;
  border-radius: 0.4rem;
  margin: 1rem 0;
  cursor: pointer;
}

.submit-fill-in {
  background-color: rgb(228, 228, 228);
}

hr {
  margin: 2rem 0;
}


.video {
  display: flex;
  justify-content: center;
  margin: 5rem auto;
}

.centered {
  text-align: center;
  font-size: 2.7rem;
}

.dialogue-window {
  margin: 4rem;
}

.dialogue-window p:not(.aside, .bigger-font) {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

ol {
  margin: 0 0 6rem 2.7rem;
}

li {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.aside {
  line-height: 2.5rem;
  margin: 0 0 0 1rem;
  margin-bottom: 5rem;
}

.self-recording {
  margin: 2rem 0 5rem;
  max-width: 80%;
  display: none;
}

.displayed {
  display: inline;
}

.recording-box {
  text-align: center;
}

.recording-box p {
  color: rgb(213, 168, 255);
}

.recorder-buttons {
  display: flex;
  gap: 1rem;
}

.start-recording, .stop-recording, .delete-recording {
  margin: 0;
  border-radius: 50rem;
  color: rgba(255, 255, 255, 0.795);
}

.start-recording {
  background-color: rgb(116, 0, 224);
  width: 50%;
  margin: 0 auto;
}

.start-recording:hover {
  background-color: rgb(132, 0, 255);
}

.stopped {
  background-color: rgb(182, 0, 0);
  transition: background-color 0.1s;
}

.stopped:hover {
  background-color: rgb(206, 0, 0);
}

.delete-recording {
  background-color: rgb(71, 71, 71);
}

.delete-recording:hover {
  background-color: rgb(85, 85, 85);
}

.delete-recording:active {
  background-color: rgb(105, 105, 105);
}

.timer {
  margin: 0 auto;
  width: fit-content;
  font-size: 7rem;
  margin-bottom: 1.5rem;
}

p.bigger-font {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 2rem 0;
}

.finish-lesson-button-2 {
  margin: 0 auto;
}