h2 {
  margin: 2rem 1rem 2rem 1rem;
  font-size: 3.3rem;
  text-align: center;
}

.schoolboard {
  border: 4px solid rgb(114, 53, 13);
  border-radius: 0.5rem;
  max-width: 60rem;
  background-color: var(--schoolboard-color);
  margin: 5rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.explanation {
  font-size: 2.3rem;
  margin: 0 0 0 0;
}

.example {
  margin: 0 0 0 2rem;
}

.for-example {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0;
}

.schoolboard p:last-child {
  margin-top: 0;
}

.finish-lesson-button-2 {
  margin: 0 auto;
}

.section-seven {
  padding-bottom: 0;
}