.audio-recording {
  margin: 3rem 0;
  display: block;
}

#num-cell p {
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
}

#letters-cell p {
  font-size: 3rem;
  font-weight: 500;
}


#num-cell {
  height: fit-content;
  padding-bottom: 0;
}

#letters-cell {
  height: fit-content;
  padding-bottom: 0;
}

#quiz-header-intro-header {
  font-size: 3.3rem;
}

#margined-button {
  margin-top: 3rem;
}