h1 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Roboto Mono', sans-serif;
  color: white;
  margin: 2rem 1rem;
}

section {
  max-width: 600px;
  margin: auto;
  display: flex;
  overflow: hidden;
}

.map {
  border: 1px solid black;
  position: relative;
  background-color: rgb(255, 255, 255);
  height: 800px;
  background-image: url(./images/map.png);
  background-size: 600px 800px;
  width: 100%;
  margin: 1rem 1rem;
}

.map img {
  position: absolute;
  width: 28px;
  height: auto;
  top: 13%;
  opacity: 0.6;
}

.hidden-img {
  display: none;
}

.map span {
  z-index: 1;
}

.map a {
  color: inherit;
  text-decoration: none;
}

.last.img {
  width: 52px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  background-color: var(--not-available);
  cursor: pointer;
}

.one {
  background-color: var(--available-lesson);
  left: 2%;
  top: 94%;
}

.two {
  left: 19%;
  top: 91%;
}

.three {
  left: 35%;
  top: 87%;
}

.four {
  left: 55%;
  top: 82%;
}

.five {
  left: 65%;
  top: 74%;
}

.six {
  left: 48%;
  top: 65%;
}

.seven {
  left: 31%;
  top: 60%;
}

.eight {
  left: 43%;
  top: 56%;
}

.nine {
  left: 58%;
  top: 52%;
}

.ten {
  left: 63.5%;
  top: 44%;
}

.eleven {
  left: 49%;
  top: 39%;
}


.twelve {
  left: 34%;
  top: 36%;
}


.thirteen {
  left: 46%;
  top: 32%;
}

.fourteen {
  left: 56.5%;
  top: 25%;
}

.fifteen {
  left: 43%;
  top: 18%;
}

.sixteen {
  left: 53%;
  top: 3%;
  width: 80px;
  height: 80px;
  /*background-color: var(--last-lesson);*/
  /*box-shadow: 0 0 20px 10px rgba(255, 115, 0, 0.6);*/
  font-size: 3rem;
}


.unlocked {
  background-color: var(--available-lesson);
}

.complete {
  background-color: var(--complete-lesson);
  box-shadow: 0 0 20px 10px rgba(255, 115, 0, 0.6);
}

@media only screen and (max-width: 840px) {
  .map {
    border: 1px solid black;
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 800px;
    background-image: url(./images/map.png);
    width: 100%;
    margin: 1rem 1rem;
  }  
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
    margin: 1rem 1rem;
  }

  
  section {
    max-width: 300px;
    height: 360vh;
  }

  .map {
    background-size: 300px 500px;
    margin: 5rem auto 1rem ;
    background-image: none;
    background-color: var(--website-theme);
    border: none;
    height: 300vh;
  }

  .map img {
    top: 18%;
  }
  
  .map span {
    z-index: 1;
  }
  
  .last.img {
    width: 52px;
    top: 14%;
  }

  .circle {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    left: 40%;
  }

  .circle::after {
    content: "";
    height: 20vh;
    width: 8px;
    border: 1px solid var(--path-lessons);
    border-top: none;
    background-color: var(--path-unavailable);
    position: absolute;
    top: 100%;
  }

  .one {
    top: 0%;
  }
  
  .two {
    top: 7%;
  }
  
  .three {
    top: 14%;
    z-index: 1;
  }
  
  .four {
    top: 21%;
    z-index: 2;
  }
  
  .five {
    top: 28%;
    z-index: 3;
  }
  
  .six {
    top: 35%;
    z-index: 4;
  }
  
  .seven {
    top: 42%;
    z-index: 5;
  }
  
  .eight {
    top: 49%;
    z-index: 6;
  }
  
  .nine {
    top: 56%;
    z-index: 7;
  }
  
  .ten {
    top: 63%;
    z-index: 8;
  }
  
  .eleven {
    top: 70%;
    z-index: 9;
  }
  
  
  .twelve {
    top: 77%;
    z-index: 10;
  }
  
  
  .thirteen {
    top: 85%;
    z-index: 11;
  }
  
  .fourteen {
    top: 92%;
    z-index: 12;
  }
  
  .fifteen {
    top: 99%;
    z-index: 13;
  }
  
  .sixteen {
    left: 35.3%;
    top: 107%;
    width: 80px;
    height: 80px;
    /*background-color: var(--last-lesson);*/
    /*box-shadow: 0 0 20px 10px rgba(255, 115, 0, 0.6);*/
    font-size: 3rem;
    z-index: 14;
  }

  .sixteen::after {
    content: "";
    border: 1px solid var(--website-theme);
    background-color: var(--website-theme);
  }
}