header {
  text-align: center;
  padding: 2rem;
}

header h1#roadmap-header {
  margin: 2rem 0 2.5rem;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.map {
  width: 98%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  gap: 2px;
  background-color: var(--schoolboard-color);
  color: white;
  font-family: "Gaegu", sans-serif;
  border-radius: 0.5rem;
}

.map-step-box.last{
  border-bottom: none
}

.map-step-box {
  display: flex;
  border-bottom: 1px solid white;
}

.milestone {
  padding: 1rem 2rem;
  border-left: 1px solid white;
  display: flex;
  text-align: left;
}

h2 {
  margin: 2rem 1rem 2rem 1rem;
  font-size: 3.3rem;
}

.number-of-step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  flex-shrink: 0;
}

.number {
  font-size: 8rem;
}

button {
  padding: 0.7rem 2rem;
  font-size: 2.4rem;
  margin: 2rem auto;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0.6rem;
  border: none;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: rgb(232, 239, 255);
}

button:active {
  background-color: rgb(207, 213, 230);
  transform: scale(0.99);
  box-shadow: none;
}

button#roadmap-button {
  margin: 5rem auto 3rem;
}

a#roadmap-link {
  text-decoration: none;
}

@media only screen and (max-width: 840px) {
  .map {
    width: 95%;
  }

  h2 {
    font-size: 3rem;
  }

  .number {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 600px) {
  .milestone {
    padding: 1rem 2rem 1rem 0;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 3rem;
    margin-bottom: 0.2rem;
  }

  .map {
    width: 90%;
  }

  h2 {
    font-size: 2.5rem;
  }

  .number-of-step {
    width: 6rem;
  }

  .number {
    font-size: 3.4rem;
  }

  button {
    font-size: 1.6rem;
  }
  
}
